<% sidebar = SARAH.PortalManager.SIDEBAR %>
<% layout('/layout/layout.ejs') -%>
<% script('/copilote_fsx_p3d/www/js/copilote_fsx_p3d.js'); %>
<% stylesheet('/copilote_fsx_p3d/www/less/copilote_fsx_p3d.css'); %>

<h1><%- i18n('plugin.copilote_fsx_p3d.hello') -%></h1>

<div id="copilote_fsx_p3d">
  <a href="#" class="copilote_fsx_p3d"><%- i18n('plugin.copilote_fsx_p3d.world') -%></a>
</div>