<% stylesheet('/copilote_fsx_p3d/www/less/copilote_fsx_p3d.css'); %>
<h4 style="margin-top: 0">Description:</h4>
<p><%- i18n(plugin.config.description) -%></p>
<a href="sarah/copilote_fsx_p3d?prg=la" class="btn btn-default btn-xs" data-action="ajax">Tu es là</a><br>

<a href="sarah/copilote_fsx_p3d?prg=go_fsx" class="btn btn-default btn-xs" data-action="ajax">Lance FSX</a>
<a href="sarah/copilote_fsx_p3d?prg=go_p3d" class="btn btn-default btn-xs" data-action="ajax">Lance P3D</a><br>

<a href="sarah/copilote_fsx_p3d?prg=go_fsxml" class="btn btn-default btn-xs" data-action="ajax">Activation FSX XML</a>
<a href="sarah/copilote_fsx_p3d?prg=go_ffstacker" class="btn btn-default btn-xs" data-action="ajax">Fs Tracker</a><br><br>

<a href="sarah/copilote_fsx_p3d?prg=auto_on" class="btn btn-default btn-xs" data-action="ajax">Auto-pilote ON</a>
<a href="sarah/copilote_fsx_p3d?prg=auto_off" class="btn btn-default btn-xs" data-action="ajax">Auto-pilote OFF</a><br>
<a href="sarah/copilote_fsx_p3d?prg=alt_on" class="btn btn-default btn-xs" data-action="ajax">Maintient d'altitude ON</a>
<a href="sarah/copilote_fsx_p3d?prg=alt_off" class="btn btn-default btn-xs" data-action="ajax">Maintient d'altitude OFF</a>&nbsp;
<a href="sarah/copilote_fsx_p3d?prg=hdg_on" class="btn btn-default btn-xs" data-action="ajax">Maintient de cap ON</a>
<a href="sarah/copilote_fsx_p3d?prg=hdg_off" class="btn btn-default btn-xs" data-action="ajax">Maintient de cap OFF</a>

<a href="sarah/copilote_fsx_p3d?prg=throttle_on" class="btn btn-default btn-xs" data-action="ajax">Controle manette des gaz ON</a>
<a href="sarah/copilote_fsx_p3d?prg=throttle_off" class="btn btn-default btn-xs" data-action="ajax">Controle manette des gaz OFF</a>&nbsp;
<a href="sarah/copilote_fsx_p3d?prg=speed_on" class="btn btn-default btn-xs" data-action="ajax">Maintient de la vitesse ON</a>
<a href="sarah/copilote_fsx_p3d?prg=speed_off" class="btn btn-default btn-xs" data-action="ajax">Maintient de la vitesse OFF</a>
<h4>Console</h4>
<pre>

</pre>